.error {
  position: fixed;
  text-align: center;
  background-color: $basic-grey;
  top: 50vh;
  left: 35vw;
  padding: 10px;
  width: 300px;
  border: 3px solid $special-red;
  border-radius: 20px;
  @include font(30px, 34px);
  color: $basic-white;
  z-index: 10;
}

.error__message {
  margin: 0;
  padding: 0;
}
