@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./components/UI/theme/mixins.scss";
@import "./components/UI/theme/variables.scss";

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  @include font(16px, 24px);
  font-style: normal;
  font-weight: 400;
  color: $basic-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
